</HTML>
<HEAD>
</SCRIPT>
<BODY bgcolor="gray">
<img
    src="./img.png"
    width="121" height="32" /></a>

<br> ===Powered by nginx===!<br>
<br>Server Host Name: {{ ansible_hostname }}<br>
<br>Server Host Name: {{ ansible_hostname }}<br>
<br>Server Os Family: {{ ansible_os_family }}<br>
<br>IP Address of this Server is: {{ ansible_default_ipv4.address }}<br>

</body>
</HTML>